@using PollInTheAir.Domain.Models

@model IEnumerable<PollAnswer>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PAGETITLE {
    @ViewBag.PollName
}

@foreach (var pollAnswer in @Model)
{
    <p>@pollAnswer.AnswerDate</p>
    <p>@pollAnswer.User</p>

    foreach (var questionAnswer in pollAnswer.QuestionAnswers)
    {
        if (questionAnswer.Question.Type.Equals(QuestionType.FreeText))
        {
            <p>@(((FreeTextAnswer)questionAnswer).Comment)</p>

            continue;
        }

        if (questionAnswer.Question.Type.Equals(QuestionType.MultipleChoices))
        {
            var multipleChoices = (MultipleChoicesAnswer)questionAnswer;

            foreach (var selectedChoice in multipleChoices.SelectedChoices)
            {
                <p>@selectedChoice.Text</p>
            }
        }
    }
}