@using PollInTheAir.Domain.Models

@model PollResultsSummary

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PAGETITLE {
    Results of @Model.Poll.Name
}

@section SCRIPTS
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
    </script>
}

<p>Total answers: @Model.AnswersCount</p>

@foreach (var summary in @Model.QuestionResultsSummaries)
{
    <div class="panel panel-default">
        <div class="panel-heading">@summary.Question.Statement</div>
        <div class="panel-body">
            @if (summary is FreeTextQuestionResultsSummary)
            {
                @Html.Partial("PollResults/_FreeTextQuestionResult", summary as FreeTextQuestionResultsSummary)
            }

            else if (summary is MultipleChoicesQuestionResultsSummary)
            {
                @Html.Partial("PollResults/_MultipleChoicesQuestionResult", summary as MultipleChoicesQuestionResultsSummary)
            }
        </div>
    </div>
}