@using PollInTheAir.Domain.Models;

@model MultipleChoicesQuestion

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SCRIPTS {
    <script>
        $(function () {
            $(document).on('click', '.btn-add', function (e) {
                e.preventDefault();

                var controlForm = $('.controls'),
                    currentEntry = $(this).parents('.entry:first'),
                    newEntry = $(currentEntry.clone()).appendTo(controlForm);

                newEntry.find('input').val('');

                $("[id=temp_name]").each(function (i) {
                    $(this).attr('name', 'Choices[' + i + '].Text');
                });

                controlForm.find('.entry:not(:last) .btn-add')
                    .removeClass('btn-add')
                    .addClass('btn-remove')
                    .removeClass('btn-primary')
                    .addClass('btn-warning')
                    .html('<span class="glyphicon glyphicon-minus"></span>');
            }).on('click', '.btn-remove',
                function (e) {
                    $(this).parents('.entry:first').remove();
                    e.preventDefault();

                    $("[id=temp_name]").each(function (i) {
                        $(this).attr('name', 'Choices[' + i + '].Text');
                    });

                    return false;
                });
        });
    </script>
}

@section PAGETITLE {
    Create multiple choices question
}

@using (Html.BeginForm("CreateMultipleChoicesQuestion", "PollCreation"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Statement)
        @Html.TextBoxFor(m => m.Statement, new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(m => m.Statement)
    </div>

    <div class="form-group">
        <label class="control-label">answers allowed</label>
        <div>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    @Html.RadioButtonFor(m => m.CanSelectMultiple, false, new { @checked = true }) single
                </label>
                <label class="btn btn-primary">
                    @Html.RadioButtonFor(m => m.CanSelectMultiple, true) multiple
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">choices</label>

        <div class="controls">
            <div class="entry input-group" style="margin-bottom: 10px">
                @Html.TextBox("temp_name", null, new { @class = "form-control", @placeholder = "type a choice", @maxlength = "128", @required = "required" })
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-add" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>

    @Html.Partial("PollCreation/_CreateQuestionsButtonGroup", true)
}