@using PollInTheAir.Domain.Models;

@model Poll

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section STYLES {
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="~/Content/ion.rangeSlider.css" />
    <link rel="stylesheet" href="~/Content/ion.rangeSlider.skinFlat.css" />

    <style type="text/css">
        #map {
            width: 95%;
            height: 300px;
            margin-bottom: 15px;
            margin: 0 auto;
            border: 2px solid #fff;
        }

        #slider {
            margin-bottom: 40px;
        }
    </style>
}

@section SCRIPTS {
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/ion.rangeSlider.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/intheair.validation.js"></script>
    <script src="~/Scripts/intheair.pollcreation.js"></script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTKJ2aBQb-q0LmbjCu2C-8TwGsgS7S1H4&callback=initMap">
    </script>
}

@section PAGETITLE {
    Create poll
}

@using (Html.BeginForm("CreatePoll", "PollCreation"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @maxlength = "128" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ExpirationDate)

        <div class='input-group date'>
            @Html.TextBoxFor(m => m.ExpirationDate, new { @class = "form-control", @maxlength = "20" })

            <span class="input-group-addon" id="datepickerIcon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        @Html.ValidationMessageFor(m => m.ExpirationDate)
    </div>

    <div class="form-group">
        @Html.Label("range")

        <div>
            @Html.TextBoxFor(m => m.Range)
        </div>

        <div id="map"></div>

        @Html.HiddenFor(m => m.CreationLocation.Latitude, new { @id = "latitude" })
        @Html.HiddenFor(m => m.CreationLocation.Longitude, new { @id = "longitude" })
    </div>

    @Html.Partial("PollCreation/_CreateQuestionsButtonGroup", false)
}