@using PollInTheAir.Domain.Models;

@model MultipleChoicesQuestion

@using (Html.BeginForm("CreateMultipleChoicesQuestion", "PollCreation", FormMethod.Post, new { @id = "questionForm" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Statement, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Statement, new { @class = "form-control" })
        <p class="help-block">@Html.ValidationMessageFor(m => m.Statement)</p>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CanSelectMultiple, new { @class = "control-label" })
        <div>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    @Html.RadioButtonFor(m => m.CanSelectMultiple, false, new { @checked = true }) @Resources.Resources.single
                </label>
                <label class="btn btn-primary">
                    @Html.RadioButtonFor(m => m.CanSelectMultiple, true) @Resources.Resources.multiple
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Choices, new { @class = "control-label" })

        <div class="controls">
            <div class="entry input-group" style="margin-bottom: 10px">
                @Html.TextBox("choiceField", "", new {@class = "form-control", @maxlength = "128", @data_val = "true", @data_val_required = "thiago msg!!!"})
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-add" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
            <p class="help-block">@Html.ValidationMessage("choiceField")</p>
        </div>
    </div>

    @Html.Partial("PollCreation/_CreateQuestionsButtonGroup", true)
}

@section PAGETITLE {
    @Resources.Resources.createMultiple
}

@section SCRIPTS {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/intheair.multiplequestioncreation.js")
}