@using PollInTheAir.Domain.Models

@model Question

@using (Html.BeginForm("CreateFreeTextQuestion", "PollCreation"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Statement)
        @Html.TextBoxFor(m => m.Statement, new { @class = "form-control", @maxlength = "128" })
        @Html.ValidationMessageFor(m => m.Statement)
    </div>

    @Html.Partial("PollCreation/_CreateQuestionsButtonGroup", true)
}

@section PAGETITLE {
    @Resources.Resources.createFreeText
}

@section SCRIPTS {
    @Scripts.Render("~/bundles/jqueryval")
}