@using PollInTheAir.Domain.Models;

@model MultipleChoicesQuestion

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script>
        $(function() {
            $(document).on('click', '.btn-add', function(e) {
                e.preventDefault();

                var controlForm = $('.controls'),
                    currentEntry = $(this).parents('.entry:first'),
                    newEntry = $(currentEntry.clone()).appendTo(controlForm);

                newEntry.find('input').val('');

                $("[id=temp_name]").each(function(i) {
                    $(this).attr('name', 'Choices[' + i + '].Text');
                });

                controlForm.find('.entry:not(:last) .btn-add')
                    .removeClass('btn-add')
                    .addClass('btn-remove')
                    .removeClass('btn-primary')
                    .addClass('btn-warning')
                    .html('<span class="glyphicon glyphicon-minus"></span>');
            }).on('click', '.btn-remove',
                function(e) {
                    $(this).parents('.entry:first').remove();
                    e.preventDefault();

                    $("[id=temp_name]").each(function(i) {
                        $(this).attr('name', 'Choices[' + i + '].Text');
                    });

                    return false;
                });
        });
    </script>

    <link rel="stylesheet" href="~/Content/bootstrap.css"/>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css"/>

    <title>Poll in the air</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Create multiple choices question</h1>
        </div>

        @using (Html.BeginForm("CreateMultipleChoicesQuestion", "PollCreation"))
        {
            <div class="row">
                <div class="form-group col-xs-8">
                    @Html.LabelFor(m => m.Statement)
                    @Html.TextBoxFor(m => m.Statement, new { @class = "form-control col-xs-4" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-8">
                    <label class="control-label">answers allowed</label>
                    <div>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                @Html.RadioButtonFor(m => m.CanSelectMultiple, false, new { @checked = true }) single
                            </label>
                            <label class="btn btn-primary">
                                @Html.RadioButtonFor(m => m.CanSelectMultiple, true) multiple
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-8">
                    <label class="control-label">choices</label>

                    <div class="controls">
                        <div class="entry input-group" style="margin-bottom: 10px">
                            @Html.TextBox("temp_name", null, new { @class = "form-control", @placeholder = "type a choice", @maxlength = "128" })
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-add" type="button">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            @Html.Hidden("Type", QuestionType.MultipleChoices)

            @Html.Partial("CreateQuestionsButtonGroup", "add another question")
        }
    </div>
</body>
</html>
