@using PollInTheAir.Domain.Models;

@model Poll

@using (Html.BeginForm("CreatePoll", "PollCreation"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @maxlength = "128" })
        <p class="help-block">@Html.ValidationMessageFor(m => m.Name)</p>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ExpirationDate, new { @class = "control-label" })

        <div class='input-group date'>
            @Html.TextBoxFor(m => m.ExpirationDate, new { @class = "form-control", @maxlength = "20" })

            <span class="input-group-addon" id="datepickerIcon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <p class="help-block">@Html.ValidationMessageFor(m => m.ExpirationDate)</p>
    </div>

    <div class="form-group">
        @Html.Label("range")

        <div>
            @Html.TextBoxFor(m => m.Range)
        </div>

        <div id="map"></div>

        @Html.Hidden("latitude")
        @Html.Hidden("longitude")
    </div>

    @Html.Partial("PollCreation/_CreateQuestionsButtonGroup", false)
}

@section PAGETITLE {
    @Resources.Resources.createPoll
}

@section SCRIPTS {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Scripts.Render("~/Scripts/ion.rangeSlider.min.js")
    @Scripts.Render("~/Scripts/intheair.pollcreation.js")

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTKJ2aBQb-q0LmbjCu2C-8TwGsgS7S1H4&callback=initMap">
    </script>
}

@section STYLES {
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Styles.Render("~/Content/ion.rangeSlider.css")
    @Styles.Render("~/Content/ion.rangeSlider.skinFlat.css")

    <style type="text/css">
        #map {
            width: 95%;
            height: 300px;
            margin-bottom: 15px;
            margin: 0 auto;
            border: 2px solid #fff;
        }

        #slider {
            margin-bottom: 40px;
        }
    </style>
}
