@model PollInTheAir.Domain.Models.Poll

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SCRIPTS {
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>

    <script>
        $(function () {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
        });
    </script>
}

@section PAGETITLE {
    Review your poll
}

<h1><small>@Html.LabelFor(m => m.Name)</small>@Model.Name</h1>

<h1><small>@Html.LabelFor(m => m.ExpirationDate)</small>@Model.ExpirationDate</h1>

<h3>@Html.LabelFor(m => m.Questions)</h3>

<div id="sortable" class="list-group">
    @foreach (var question in Model.Questions)
    {
        <a href="#" class="list-group-item">@question.Statement</a>
    }
</div>

@Html.ActionLink("publish poll", "PublishPoll", "PollCreation", null, new { @class = "btn btn-default" })