@using PollInTheAir.Domain.Models

@model Poll

<div class="row">
    <div class="col-md-1">@Html.LabelFor(m => m.Name)</div>
    <div class="col-md-5">
        @Model.Name
    </div>
</div>

<div class="row">
    <div class="col-md-1">@Html.LabelFor(m => m.ExpirationDate)</div>
    <div class="col-md-5">
        @Model.ExpirationDate
    </div>
</div>

<div class="row">
    <div class="col-md-1">@Html.LabelFor(m => m.Range)</div>
    <div class="col-md-5">
        @Model.Range
    </div>
</div>

<div class="row">
    <div class="col-md-1">@Html.LabelFor(m => m.Questions)</div>
    <div class="col-md-5">
        @foreach (var question in Model.Questions)
        {
            <div>
                @if (question.Type.Equals(QuestionType.FreeText))
                {
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                }
                else if (question.Type.Equals(QuestionType.MultipleChoices))
                {
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                }

                @question.Statement
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        @Html.ActionLink(Resources.Resources.publishPoll, "PublishPoll", "PollCreation", null, new { @class = "btn btn-default" })
    </div>
</div>

@section PAGETITLE {
    @Resources.Resources.reviewPoll
}