@using PollInTheAir.Domain.Models
@model PollInTheAir.Domain.Models.Poll

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SCRIPTS {
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>

    <script>
        $(function () {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
        });
    </script>
}

@section STYLES
{
    <style>
        .glyphicon {
            padding-left: 50px;
        }
    </style>
}

@section PAGETITLE {
    Review your poll
}

<h1><small>@Html.LabelFor(m => m.Name)</small>@Model.Name</h1>

<h1><small>@Html.LabelFor(m => m.ExpirationDate)</small>@Model.ExpirationDate</h1>

<h3>@Html.LabelFor(m => m.Questions)</h3>

<div id="sortable" class="list-group">
    @foreach (var question in Model.Questions)
    {
        <a href="#" class="list-group-item">
            @if (question.Type.Equals(QuestionType.FreeText))
            {
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            }
            else if (question.Type.Equals(QuestionType.MultipleChoices))
            {
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            }

            @question.Statement
        </a>
    }
</div>

@Html.ActionLink("publish poll", "PublishPoll", "PollCreation", null, new { @class = "btn btn-default" })