@using PollInTheAir.Domain.Models

@model bool

<style>
    #finishButton {
        margin-top: 20px;
    }
</style>

<button class="btn btn-primary btn-block" type="submit" name="questionType" value="@QuestionType.FreeText">
    @Resources.Resources.addFreeText
</button>

<button class="btn btn-primary btn-block" type="submit" name="questionType" value="@QuestionType.MultipleChoices">
    @Resources.Resources.addMultiple
</button>

@if (@Model)
{
    <button id="finishButton" class="btn btn btn-primary btn-block" type="submit" name="questionType" value="@QuestionType.Undefined">@Resources.Resources.finish</button>
}