@using PollInTheAir.Web.ViewModel

@model RegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/login.css")

    <title>@Resources.Resources.appTitle</title>
</head>

<body id="loginBody">
    <div id="home_icon">
        <a href="@Url.Action("Home", "Home")">
            <span class="glyphicon glyphicon-home" aria-hidden="true" id="home_button"></span>
        </a>
    </div>

    <div class="container container-table col-md-3 col-md-offset-7">
        <div class="row vertical-center-row">
            <div class="well">
                @using (Html.BeginForm("Register", "Account"))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationMessage("ACCOUNT_ERROR", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new {@class = "control-label"})
                        @Html.TextBoxFor(m => m.UserName, new {@class = "form-control"})
                        <p class="help-block">@Html.ValidationMessageFor(m => m.UserName)</p>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        <p class="help-block">@Html.ValidationMessageFor(m => m.Email)</p>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        <p class="help-block">@Html.ValidationMessageFor(m => m.Password)</p>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        <p class="help-block">@Html.ValidationMessageFor(m => m.ConfirmPassword)</p>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-default" value="@Resources.Resources.register" />
                    </div>
                }
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>