@using PollInTheAir.Web.ViewModel

@model SignInSignUpViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/Content/css")

    <title>Poll in the air</title>
</head>

<body>
    <div class="container">
        @using (Html.BeginForm("Register", "Account"))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(m => m.RegisterViewModel.Email)
                @Html.TextBoxFor(m => m.RegisterViewModel.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.RegisterViewModel.Email)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.RegisterViewModel.Password)
                @Html.PasswordFor(m => m.RegisterViewModel.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.RegisterViewModel.Password)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.RegisterViewModel.ConfirmPassword)
                @Html.PasswordFor(m => m.RegisterViewModel.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.RegisterViewModel.ConfirmPassword)
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>