@using PollInTheAir.Domain.Models;

@model Note

<div class="panel panel-default">
    <div class="panel-heading">
        @Model.Description (@Model.CreationDate)
    </div>
    @if (Model.FileId != null)
    {
        <div class="panel-body">
            <img src="@Url.Action("ShowImage", "Note", new { fileId = Model.FileId })" class="img-rounded" height="400" />
        </div>
    }

    <div class="panel-footer">
        <div>
            @Html.TextArea("comment", new { @class = "form-control", @maxlength = "128", @rows = "3" })
            <button id="submitComment" class="btn btn-primary">@Resources.Resources.comment</button>
        </div>

        <div>
            @if (Model.Comments.Any())
            {
                <div>
                    @string.Format(Resources.Resources.numberComments, @Model.Comments.Count)
                </div>
            }

            <div id="noteComments">
                <div>
                    @foreach (var comment in Model.Comments)
                    {
                        @Html.Partial("Note/_NoteComments", comment)
                    }
                </div>
            </div>
        </div>

        <script>
            $("#submitComment").click(function () {
                var comment = {
                    NoteId: @Model.Id,
                    Comment: $("#comment").val()
                };

                alert(JSON.stringify(comment));

                $.ajax({
                    type: "POST",
                    url: "/Note/CommentNote",
                    traditional: true,
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(comment),
                    success: function (data) { alert("success"); },
                    error: function (data) { alert("failure"); } 
                });
            });
        </script>
    </div>
</div>