@using PollInTheAir.Domain.Models;

@model Note

<div class="panel panel-default">
    <div class="panel-heading">
        @Model.Description (@Model.CreationDate)
    </div>
    @if (Model.FileId != null)
    {
        <div class="panel-body">
            <img src="@Url.Action("ShowImage", "Note", new { fileId = Model.FileId })" class="img-rounded" height="400" />
        </div>
    }

    <div class="panel-footer">
        <div>
            <a href="#" id="Comment">@Resources.Resources.comment</a>
        </div>

        <div>
            @using (Ajax.BeginForm("CommentNote", "Note", null, new AjaxOptions { InsertionMode = InsertionMode.InsertBefore, UpdateTargetId = "noteComments" + Model.Id }))
            {
                @Html.Hidden("comment.NoteId", Model.Id)
                @Html.TextArea("comment.Comment", new { @class = "form-control", @maxlength = "128", @rows = "3" })

                <button class="btn btn-primary" type="submit">@Resources.Resources.comment</button>
            }
        </div>

        <div>
            @if (Model.Comments.Any())
            {
                <div>
                    @string.Format(Resources.Resources.numberComments, @Model.Comments.Count)
                </div>
            }

            <div id="@string.Format("noteComments{0}", Model.Id)">
                <div>
                    @foreach (var comment in Model.Comments)
                    {
                        @Html.Partial("Note/_NoteComments", comment)
                    }
                </div>
            </div>
        </div>
    </div>
</div>