@using Microsoft.AspNet.Identity

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/Content/css")

    @RenderSection("STYLES", false)

    <style>
        body {
            padding-top: 30px;
        }
    </style>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("SCRIPTS", false)

    <title>@Resources.Resources.appTitle</title>
</head>

<body>
    <div id="wrap">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    @Html.ActionLink(@Resources.Resources.appTitle, "Index", "Home", null, new { @class = "navbar-brand" })
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.GetUserName()
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li role="separator" class="divider"></li>
                                    <li><a href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();">@Resources.Resources.logOff</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
            <div class="page-header">
                <h1>@RenderSection("PAGETITLE", true)</h1>
            </div>

            @RenderBody()

        </div>
    </div>
</body>
</html>