@using PollInTheAir.Domain.Models

@model MultipleChoicesQuestion

@using (@Html.BeginForm("FinishAnswerMultipleChoicesQuestion", "PollAnswer"))
{
    @Html.Hidden("Id", @Model.Id)

    for (int i = 0; i < @Model.Choices.Count; i++)
    {
        if (@Model.CanSelectMultiple)
        {
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(c => c.Choices[i].Selected)
                    @Model.Choices[i].Text
                    @Html.HiddenFor(c => c.Choices[i].Id)
                </label>
            </div>
        }

        else
        {
            <div class="radio">
                <label>
                    @Html.RadioButtonFor(c => c.Choices[0].Id, @Model.Choices[i].Id)
                    @Model.Choices[i].Text
                    @Html.Hidden("Choices[0].Selected", true)
                </label>
            </div>
        }
    }

    <div>
        <button class="btn btn-default" type="submit">answer</button>
    </div>
}