<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="well">
                <h2>@Resources.Resources.poll</h2>

                @using (Html.BeginForm("AvailablePolls", "PollAnswer", FormMethod.Post))
                {
                    <div>
                        @Html.ActionLink(Resources.Resources.createPoll, "CreatePoll", "PollCreation", null, new { @class = "btn btn-primary btn-lg", @id = "CreatePollButton" })
                    </div>
                    <div>
                        @Html.Hidden("Latitude")
                        @Html.Hidden("Longitude")

                        <input id="AnswerPollButton" type="submit" value="@Resources.Resources.answerPoll" class="btn btn-primary btn-lg" />
                    </div>

                    <div>
                        @Html.ActionLink(Resources.Resources.myPolls, "AvailableResultPolls", "PollResults", null, new { @class = "btn btn-primary btn-lg", @id = "ViewPollButton" })
                    </div>
                }
            </div>
        </div>

        <div class="col-sm-4">
            <div class="well"></div>
        </div>

        <div class="col-sm-4">
            <div class="well"></div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="LocationModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@Resources.Resources.myPolls</h4>
                </div>
                <div class="modal-body">
                    <p>@Resources.Resources.noLocationErrorMsg</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section PAGETITLE {
    @Resources.Resources.appTitle
}

@section SCRIPTS {
    <script language="javascript">
        $(function () {
            navigator.geolocation.getCurrentPosition(showPosition, positionError);

            function showPosition(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                $("#Latitude").val(pos.lat);
                $("#Longitude").val(pos.lng);
            }

            function positionError(position) {
                $('#LocationModal').modal('toggle');

                $('#CreatePollButton').addClass('disabled');

                $('#AnswerPollButton').prop('disabled', true);
                $('#AnswerPollButton').css('cursor', 'context-menu');
            }
        });
    </script>
}