@using PollInTheAir.Domain.Models

@model PollInTheAir.Web.ViewModel.AnswerPollViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/Content/bootstrap.css" />

    <script src="~/Scripts/jquery-1.9.1.js"></script>

    <title>Poll in the air</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>@Model.PollName</h1>
        </div>

        <div>
            <h3>@Model.CurrentQuestion.Statement</h3>
        </div>

        @if (@Model.CurrentQuestion.Type.Equals(QuestionType.MultipleChoices))
        {
            @Html.Partial("AnswerMultipleChoicesQuestion", (MultipleChoicesQuestion)@Model.CurrentQuestion)
        }

        @if (@Model.CurrentQuestion.Type.Equals(QuestionType.FreeText))
        {
            @Html.Partial("AnswerFreeTextQuestion", @Model.CurrentQuestion)
        }
    </div>
</body>
</html>