@using PollInTheAir.Domain.Models

@model PollInTheAir.Web.ViewModel.AnswerPollViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>@Model.CurrentQuestion.Statement</h3>
</div>

@if (@Model.CurrentQuestion.Type.Equals(QuestionType.MultipleChoices))
{
    @Html.Partial("PollAnswer/_AnswerMultipleChoicesQuestion", (MultipleChoicesQuestion)@Model.CurrentQuestion)
}
else if (@Model.CurrentQuestion.Type.Equals(QuestionType.FreeText))
{
    @Html.Partial("PollAnswer/_AnswerFreeTextQuestion", @Model.CurrentQuestion)
}

@section PAGETITLE
{
    @Model.PollName
}

@section SCRIPTS
{
    @Scripts.Render("~/bundles/jqueryval")
}