@model IEnumerable<PollInTheAir.Domain.Models.Poll>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <meta name="viewport" content="width=device-width" />

    <title>Poll in the air</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Available polls</h1>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>name</th>
                    <th>expires at</th>
                    <th>created by</th>
                    <th>actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var poll in Model)
                {
                    <tr>
                        <td>@poll.Name</td>
                        <td>@poll.ExpiresAt</td>
                        <td>@poll.CreatedBy</td>
                        <td>@Html.ActionLink("answer", "AnswerPoll", "PollAnswer", new { pollId = @poll.Id }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
