@using PollInTheAir.Domain.Models

@model Question

@using (@Html.BeginForm("FinishAnswerFreeTextQuestion", "PollAnswer"))
{
    <div class="form-group">
        @Html.Hidden("QuestionId", @Model.Id)
        @Html.TextArea("Comment", new { @rows = "3", @class = "form-control" })
    </div>

    <div>
        <button class="btn btn-default" type="submit">@Resources.Resources.answer</button>
    </div>
}

@section SCRIPTS {
    @Scripts.Render("~/bundles/jqueryval")
}