@using PollInTheAir.Domain.Models

@model Question

@using (@Html.BeginForm("FinishAnswerFreeTextQuestion", "PollAnswer", FormMethod.Post, new { @id = "answerForm" }))
{
    <div class="form-group">
        @Html.Hidden("QuestionId", @Model.Id)
        @Html.TextArea("Comment", new { @rows = "3", @class = "form-control", @data_val = "true", @data_val_required = Resources.Resources.commentRequired })
        <p class="help-block">@Html.ValidationMessage("Comment")</p>
    </div>

    <div>
        <button class="btn btn-default" type="submit">@Resources.Resources.answer</button>
    </div>
}