@model IEnumerable<PollInTheAir.Domain.Models.Note>

<div class="row">


    @foreach (var note in Model)
    {
        <div class="col-lg-3 col-md-4 col-xs-6">
            <div>
                <div>
                    @note.Description
                </div>

                <div>
                    <small>@note.CreationDate.ToShortDateString()</small>
                </div>
            </div>

            <div>
                @if (note.FileId != null)
                {
                    <img src="@Url.Action("ShowImage", "Note", new {fileId = note.FileId})" class="img-responsive" height="200" />
                }
                else
                {
                    <img src="~/Content/img/quotation-mark.jpg" class="img-responsive" height="200" />
                }
            </div>

            <div>
                @if (note.CommentsNumber > 0)
                {
                    <span>
                        <span class="badge">@note.CommentsNumber</span>@Resources.Resources.comments
                    </span>
                }

                <span class="pull-right">
                    <a href="@Url.Action("DeleteNote", "Note", new {noteId = note.Id})" data-confirm="@note.Description">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </span>
            </div>
        </div>
    }
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="confirmDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Resources.Resources.myNotes</h4>
            </div>
            <div class="modal-body">
                <p id="msg"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">@Resources.Resources.no</button>
                <a class="btn btn-default" id="dataConfirmOK">@Resources.Resources.yes</a>
            </div>
        </div>
    </div>
</div>

@section SCRIPTS {
    <script>
        $(document).ready(function () {
            $("a[data-confirm]").click(function () {
                $("#confirmDialog").modal("toggle");
                $("#msg").html("@Resources.Resources.confirmDeleteNote".replace("{0}", $(this).attr("data-confirm")));
                $("#dataConfirmOK").attr("href", $(this).attr("href"));
                return false;
            });
        });
    </script>
}

@section PAGETITLE {
    @Resources.Resources.myNotes
}